<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
    </head>
<body>
    <p>
        <span>Olá! Para confirmar o seu e-mail, favor acessar o seguinte link:</span><br>
        <span><a href="{{ url }}">{{ url }}<a></span>
    </p>
</body>
</html>